<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--<compile debug="true"/>-->
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
        <identity impersonate="false" />
      <authentication mode="Windows" />
      <!--<authorization>
        <deny users="?"/>
      </authorization>-->

    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
   <httpProtocol>
        <customHeaders>
            <clear />
            <add name="X-UA-Compatible" value="IE=8" />
        </customHeaders>
  </httpProtocol>

  </system.webServer>
  <appSettings>
    <add key="LDAP_Path" value="ad.infosys.com" />
    <add key="LogPath" value="~/Error/" />
    <add key="FolderPath" value="Uploads" />
  </appSettings>
  <connectionStrings>
    <!--<add name="constrg" connectionString="Data Source=JAISU1254893D;Initial Catalog=CabTransport;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="constrg" connectionString="Data Source=JAISU1276469D;Initial Catalog=CabTransport;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>
